<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div >
      <mat-toolbar>
          <i class="material-icons">people</i>&nbsp;
          <h2>Customer Manager</h2>&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/customers" mat-button>Customers</a>
          <a routerLink="/orders" mat-button>Orders</a>
          <a routerLink="/about" mat-button>About</a>
          <a routerLink="/log" mat-button>Log in</a>
      </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
 </div>
 