.example-card {
    
    height: 120px;
    width: 250px;
    cursor: pointer;
  }
  
  .example-card :hover{
    width: 270px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .filter
  {
    float: right;
  }