<div *ngIf="customer">
    <div class="info">
        <h3> <i class="material-icons">person</i> &nbsp; Customer Information</h3>
    </div>
    <div class="head">
        <i class="material-icons">list</i>
        <button mat-button routerLink="/customerdetail/{{customer.id}}">customer Details</button>&nbsp;
        <i class="material-icons">local_offer</i>
        <button mat-button routerLink="/customers/customerorder/{{customer.id}}">Customer Orders</button>&nbsp;
        <i class="material-icons">edit</i>
        <button mat-button routerLink="/customerDetails/edit/{{customer.id}}">Edit customer</button>

    </div>
    <div class="details">
        <div class="example-header-image"></div>
        <p>{{customer.firstname}}</p>
        <p>{{customer.lastname}}</p>
        <p>{{customer.address}}</p>
        <p>{{customer.city}}{{customer.state}}</p>
    </div>



    <div class="orders">
        <div>
            <h3>Order for {{customer.firstname}}{{customer.lastname}}</h3>
            <a *ngFor="let order of customer.orders">{{order.quantity}} <div *ngFor="let product of order.products">
                    {{product.name}}{{product.price}}
            </div>
            </a>
        </div>

    </div>
</div>